html, body {
 height: 100%;
 margin: 0;
}

.principal {
    position: relative;
    height: 100%;
    background-color: rgba(0, 0,0,0.5);
}

.principal img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    height: 100%;
    padding: 80px 16px;
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container h1 {
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

.container p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.container button {
    background-color: white;
    font-size: 24px;
    border-radius: 9px;
    border: none;
    margin: 0;
}

.container button:hover{
    font-size: 32px;
}

